.supreme{
    display:flex;
    align-items:center;
    position:relative;
    width: -moz-fit-content;
    width:fit-content;
    transform:scale(0.6);
    border:2px solid red;
  }
  .supreme::after{
    height:20px;
    width:100%;
    content:"";
    position:absolute;
    display:block;
    background-color:red;
    bottom:-30px;
    border-radius:10px;
  }
  .supreme::before{
    height:20px;
    width:20px;
    background-color:black;
    content:"";
    border-radius:50%;
    position:absolute;
    bottom:-30px;
    right:-30px;
  }
  .class1{
    height:150px;
    width:100px;
    display:flex;
    justify-content:center;
    position:relative;
  }
  .main1{
    height:150px;
    width:30px;
    background-color:red;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
  }
  .main2{
    height:30px;
    width:65px;
    background-color:red;
    position:absolute;
    bottom:0;
    left:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
  }
  .main3{
    height:30px;
    width:85px;
    background-color:red;
    position:absolute;
    right:-40px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
  }
  .main4{
    height:30px;
    width:100px;
    background-color:red;
    position:absolute;
    top:40%;
    bottom:50%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
  }
  .main6{
    height:10px;
    width:150px;
    position:absolute;
    background-color:black;
    bottom:40px;
    z-index:10;
    left:5px;
    border-radius:20px;
  }
  .main5{
    height:30px;
    width:100px;
    background-color:red;
    border-radius:10px;
    rotate:50deg;
    margin-top:58px;
    margin-left:-29px;
  }